img
{
  display:none;
}
header{
  background-color: #c3c3c3;
}
section{
  background-color:#818181 ;
}
h1{
  text-align: center;
  color: #ffffff;
}
h2{
  color: #0000ff;
}
h1, h2{
  text-transform: uppercase;
}
a{
  background-color: #d8d8d8;
  color: #000000;
}